* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
  height: 100vh;
  width: 80%;
  margin: 0 auto;
  background-color: tomato;
}

.card-container {
    
    background-color: greenyellow;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    position: relative;
    background-color: blue;
    width: 400px;
    height: 500px;
    margin: 10px;
}

.like a:hover {
    text-decoration: none;
    cursor: pointer;
    transition: 0.35s ease-out;
    animation-name: test;
    animation-direction: reverse;
    color: red;
}

@keyframes test {
    100% {
        color: aqua;
    }
}

.like {
    
    user-select: none;
    position: absolute;
    top: 40px;
    right: 0;
    background-color: white;
}

.like span a{
    text-decoration: none;
    padding: 0 10px;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.discount {
    position: absolute;
    left: 20px;
    bottom: 20px;
    
    width: 30px;
    height: 20px;
    background-color: red;
}

.marker {
    position: absolute;
    left: 55px;
    bottom: 20px;
    
    width: 60px;
    height: 20px;
    background-color: yellow;
}