* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
  height: 100vh;
  width: 80%;
  margin: 0 auto;
  background-color: tomato;
}

.card-container {
    background-color: greenyellow;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.colonna{
    
}

.card {
    background-color: blue;
    width: 200px;
    height: 300px;
    margin: 10px;
}