* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
  width: 80%;
  margin: 0 auto;
  
}

/* main container */

.card-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    background-size: cover;
    justify-content: space-between;
    background-position: center;
    margin: 10px;
    width: 400px;
    height: 550px;
}

.card-c {
    margin-bottom: 50px;
}

/* feature */

.feature {
    color: #fff ;
    font-size: 12px;
    font-weight: 600;
    display: flex;
    margin-bottom: 20px;
}

.discount,
.marker {
    padding: 4px 8px;
    margin-right: 5px;
}

.discount {
    background-color: red;
}

.marker {
    background-color: green;
}

.first-card {
    background-image: url(../img/1.webp);
}

.first-card:hover {
    background-image: url(../img/1b.webp);
}

.second-card {
    background-image: url(../img/2.webp);
}

.second-card:hover {
    background-image: url(../img/2b.webp);
}

.third-card {
    background-image: url(../img/3.webp);
}

.third-card:hover {
    background-image: url(../img/3b.webp);
}

.fourth-card {
    background-image: url(../img/4.webp);
}

.fourth-card:hover {
    background-image: url(../img/4b.webp);
}

.fifth-card {
    background-image: url(../img/5.webp);
}

.fifth-card:hover {
    background-image: url(../img/5b.webp);
}

.sixth-card {
    background-image: url(../img/6.webp);
}

.sixth-card:hover {
    background-image: url(../img/6b.webp);
}

.h-t {
    transition: 0.35s ease-out;
}

.like a:hover {
    text-decoration: none;
    cursor: pointer;
    color: red;
}

.like {
    display: flex;
    user-select: none;
    order: 3;
    align-self: flex-start;
    background-color: white;
    margin-top: 40px;
}

.like span a{
    color: black;
    text-decoration: none;
    padding: 5px 13px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

/* card details */

.text-container {
    margin: 0 10px;
}
.title,
.description,
.price {
    margin-top: 2px;
}

.title {
    font-size: 14px;
}

.description {
    font-weight: 600;
    font-size: 20px;
}

.price {
    font-size: 15px;
    color: red;
    font-weight: 700;
}